<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="standby_http" enabled="false" stopProcessing="false">
          <match url="^hss(/(.*))?" negate="true" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="http://{PRIMARY}:{SERVER_PORT}{REQUEST_URI}" />
        </rule>
        <rule name="standby_https" enabled="false" stopProcessing="false">
          <match url="^hss|fmws(/(.*))?" negate="true" />
          <conditions>
            <add input="{HTTPS}" pattern="on" />
          </conditions>
          <action type="Redirect" url="https://{PRIMARY}:{SERVER_PORT}{REQUEST_URI}" />
        </rule>
        <rule name="fmws" enabled="true" stopProcessing="false">
          <action type="Rewrite" url="http://localhost:1895/{R:0}" />
          <match url="^fmws(/(.*))?" />
          <conditions>
            <add input="{SERVER_PORT}" pattern="443" />
          </conditions>
        </rule>
        <rule name="oauth_SSL" enabled="true" stopProcessing="false">
          <action type="Rewrite" url="http://localhost:1895/{R:0}" />
          <match url="^oauth(/(.*))?" />
          <conditions>
            <add input="{SERVER_PORT}" pattern="443" />
          </conditions>
        </rule>
        <rule name="oauth" enabled="true" stopProcessing="false">
          <action type="Rewrite" url="http://localhost:1895/{R:0}" />
          <match url="^oauth(/(.*))?" />
          <conditions>
            <add input="{SERVER_PORT}" pattern="80" />
          </conditions>
        </rule>
        <rule name="standbyws" enabled="true" stopProcessing="true">
          <match url="^hss(/(.*))?" />
          <action type="Rewrite" url="http://localhost:1895/{R:0}" />
          <conditions>
            <add input="{SERVER_PORT}" pattern="443" />
          </conditions>
        </rule>
        <rule name="docws" enabled="true" stopProcessing="false">
            <action type="Rewrite" url="http://localhost:1895/{R:0}" />
            <match url="^docws(/(.*))?" />
        </rule>
        <rule name="Streaming_SSL" enabled="true" stopProcessing="false">
          <action type="Rewrite" url="http://localhost:1895/{R:0}" />
          <match url="^Streaming_SSL(/(.*))?" />
          <conditions>
            <add input="{SERVER_PORT}" pattern="443" />
          </conditions>
          <serverVariables>
            <set name="HTTP_X_FORWARDED_HOST" value="{HTTP_HOST}" />
          </serverVariables>
        </rule>
        <rule name="Streaming" enabled="true" stopProcessing="false">
          <action type="Rewrite" url="http://localhost:1895/{R:0}" />
          <match url="^Streaming(/(.*))?" />
        </rule>
        <rule name="fmixml" enabled="false" stopProcessing="false">
          <action type="Rewrite" url="http://localhost/{R:0}" />
          <match url="^fmi/xml(/(.*))?" />
        </rule>
        <rule name="fmirest" enabled="false" stopProcessing="false">
          <action type="Rewrite" url="http://localhost/{R:0}" />
          <match url="^fmi/rest(/(.*))?" />
        </rule>
        <rule name="php" enabled="false" stopProcessing="false">
          <action type="Rewrite" url="http://localhost/{R:0}" />
          <match url="^(.*)\.php$" />
        </rule>
        <rule name="x_forwarded_proto_uac" enabled="true" stopProcessing="false">
		  <match url="^admin-console(/(.*))?" />
          <conditions>
            <add input="{HTTPS}" pattern="on" />
          </conditions>
          <action type="None" />
          <serverVariables>
            <set name="HTTP_X_FORWARDED_PROTO" value="https" />
          </serverVariables>
        </rule>
        <rule name="mwpew" enabled="true" stopProcessing="true">
          <match url="^fmi/mwpew/(.*)$" />
          <conditions>
            <add input="{SERVER_PORT}" pattern="16000" />
          </conditions>
          <action type="Rewrite" url="http://{SERVER_NAME}:16002/fmswpew/{R:1}" appendQueryString="false" />
        </rule>
        <rule name="mwpem" enabled="true" stopProcessing="true">
          <match url="^fmi/mwpem/(.*)$" />
          <conditions>
            <add input="{SERVER_PORT}" pattern="16000" />
          </conditions>
          <action type="Rewrite" url="http://{SERVER_NAME}:16002/fmswpem/{R:1}" appendQueryString="false" />
        </rule>
        <rule name="uac" enabled="true" stopProcessing="false">
          <action type="Rewrite" url="http://127.0.0.1:16001/{R:0}" />
          <match url="(.*)" />
          <conditions>
            <add input="{SERVER_PORT}" pattern="16000" />
          </conditions>
          <serverVariables>
            <set name="HTTP_X_FORWARDED_HOST" value="{HTTP_HOST}" />
          </serverVariables>
        </rule>
        <rule name="https_admin-console" enabled="true" stopProcessing="true">
          <match url="^admin-console(/(.*))?" />
          <conditions>
            <add input="{SERVER_PORT}" pattern="80" />
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{SERVER_NAME}:16000/admin-console" redirectType="Found" />
        </rule>
        <rule name="https_test_page" enabled="true" stopProcessing="true">
          <match url="^test$" />
            <conditions>
              <add input="{SERVER_PORT}" pattern="80" />
              <add input="{HTTPS}" pattern="off" />
            </conditions>
            <action type="Redirect" url="https://{SERVER_NAME}:16000/test" redirectType="Found" />
        </rule>
        <rule name="https_admin-console_2" enabled="true" stopProcessing="true">
          <match url="^admin-console(/(.*))?" />
          <conditions>
            <add input="{SERVER_PORT}" pattern="443" />
            <add input="{HTTPS}" pattern="on" />
          </conditions>
          <action type="Redirect" url="https://{SERVER_NAME}:16000/admin-console" redirectType="Found" />
        </rule>
        <rule name="https_test_page_2" enabled="true" stopProcessing="true">
          <match url="^test$" />
            <conditions>
              <add input="{SERVER_PORT}" pattern="443" />
              <add input="{HTTPS}" pattern="on" />
            </conditions>
            <action type="Redirect" url="https://{SERVER_NAME}:16000/test" redirectType="Found" />
        </rule>
        <rule name="x_forwarded_proto" enabled="true" stopProcessing="false">
          <match url="^fmi/(webd|xml)(/(.*))?" />
          <conditions>
            <add input="{HTTPS}" pattern="on" />
          </conditions>
          <serverVariables>
            <set name="HTTP_X_FORWARDED_PROTO" value="https" />
          </serverVariables>
          <action type="None" />
        </rule>
        <rule name="https_webd" enabled="false" stopProcessing="true">
          <match url="^fmi/webd(/(.*))?" />
          <conditions>
            <add input="{SERVER_PORT}" pattern="80" />
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{SERVER_NAME}:443/fmi/webd{R:1}" redirectType="Found" />
        </rule>
        <rule name="https_rest" enabled="true" stopProcessing="true">
          <match url="^fmi/data(/(.*))?" />
          <conditions>
            <add input="{SERVER_PORT}" pattern="80" />
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{SERVER_NAME}:443/fmi/data{R:1}" redirectType="Found" />
        </rule>
        <rule name="https_admin" enabled="true" stopProcessing="true">
          <match url="^fmi/admin(/(.*))?" />
          <conditions>
            <add input="{SERVER_PORT}" pattern="80" />
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
        </rule>
        <rule name="BlockConf" stopProcessing="true">
           <match url="^fmi/conf/(.*)" />
           <action type="AbortRequest" />
        </rule>
        <rule name="FMDataAPI" stopProcessing="true">
          <action type="Rewrite" url="http://127.0.0.1:3000/fmi/data/{R:1}" />
          <match url="^fmi/data/(.*)" />
          <serverVariables>
            <set name="HTTP_X_FORWARDED_HOST" value="{HTTP_HOST}" />
          </serverVariables>
        </rule>
        <rule name="FMAdminAPI" stopProcessing="true">
          <action type="Rewrite" url="http://127.0.0.1:16001/fmi/admin/{R:1}" />
          <match url="^fmi/admin/(.*)" />
          <serverVariables>
            <set name="HTTP_X_FORWARDED_HOST" value="{HTTP_HOST}" />
          </serverVariables>
        </rule>
        <rule name="Disable permessage-deflate for WebD" enabled="false" stopProcessing="false">
          <action type="None" />
          <match url="^fmi/(.*)" />
          <conditions>
            <add input="{HTTP_SEC_WEBSOCKET_EXTENSIONS}" pattern="\bpermessage-deflate\b" />
          </conditions>
          <serverVariables>
            <set name="HTTP_SEC_WEBSOCKET_EXTENSIONS" value="" />
          </serverVariables>
        </rule>
        <rule name="FMWebPublishing" stopProcessing="true">
          <action type="Rewrite" url="http://127.0.0.1:16020/fmi/{R:1}" />
          <match url="^fmi/(.*)" />
          <conditions>
            <add input="{HTTP_X_FORWARDED_HOST}" pattern=".+" negate="true" />
          </conditions>
          <serverVariables>
            <set name="HTTP_X_FORWARDED_HOST" value="{HTTP_HOST}" />
          </serverVariables>
        </rule>
      </rules>
	  <outboundRules>
        <rule name="Set X-Content-Type-Options" enabled="true">
          <match serverVariable="RESPONSE_X_Content_Type_Options" pattern=".*" />
          <conditions>
            <add input="{URL}" pattern="^/fmi" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="nosniff" />
        </rule>
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="false">
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000; includeSubDomains" />
        </rule>
        <rule name="webd_cookie">
          <match serverVariable="RESPONSE_Set_Cookie" pattern=".*" />
          <conditions>
            <add input="{R:0}" pattern="WebD_ID" negate="false" />
          </conditions>
          <action type="Rewrite" value="{R:0}; path=/fmi; HttpOnly; Max-Age=43200" />
        </rule>
        <rule name="webd_session_cookie">
          <match serverVariable="RESPONSE_Set_Cookie" pattern="JSESSIONID=.+" />
          <conditions>
          <add input="{URL}" pattern="^/fmi" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="{R:0}; Max-Age=43200" />
        </rule>
        <rule name="webd_secure_cookie" enabled="false">
          <match serverVariable="RESPONSE_Set_Cookie" pattern="(JSESSIONID|WebD_ID)=.+" />
          <conditions>
          <add input="{URL}" pattern="^/fmi" ignoreCase="true" />
          <add input="{R:0}" pattern="; Secure" negate="true" />
          </conditions>
          <action type="Rewrite" value="{R:0}; Secure" />
        </rule>
      </outboundRules>
      <allowedServerVariables>
        <add name="HTTP_SEC_WEBSOCKET_EXTENSIONS" />
      </allowedServerVariables>
    </rewrite>
    <httpProtocol>
    <customHeaders>
      <add name="X-Frame-Options" value="SAMEORIGIN" />
      <add name="X-XSS-Protection" value="1; mode=block" />
    </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
        <directoryBrowse enabled="false" />
  </system.webServer>
    <system.web>
        <authentication mode="Windows" />
    </system.web>
</configuration>
